html {
  height: 100%;
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-size: 42px;
  font-weight: 300;
  display: inline-block;
  position: absolute;
  margin-top: 200px;
  margin-left: 15%;
}
h2 {
  font-weight: 400;
}


.style-page-content {
  margin-top: 25px;
}
.navbar-default {
 background-color: lightgrey;
}
.posi {
  margin-top: 50px;
}
#page-neu {
  margin-bottom: 100px;
}
.erfassen-button {
  margin-top: 25px;
  margin-bottom: 50px;
}
.navbar-inverse {
  border-radius: 0px;
}

.padding-after-header {
  padding-top: 50px;
}

ul {
  list-style-type: none;
}
.centeredicons {
  text-align: center;
}
.glyphicon-edit {
  font-size: 25px;
  padding-bottom: 20px;
}
.the-logo {
  width: 80px;
  height: 100%;
}
.navbar {
  margin-bottom: 0px;
}
.spezifisch {
  padding-bottom: 125px;
}
.header-img img {
  max-width: 100%;
}
td.form-space {
  padding-right: 25px;
  height: 50px;
  font-weight: 500;
}
button.form-button {
  margin-top: 10px;
}
.edit h2 {
  padding-bottom: 10px;
}
.list-stylings {
  height: 50px;
}
/*Tablet Stylings */
@media (min-width: 481px) and (max-width: 767px) {

  .list-stylings {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 45%;
    margin-bottom: 20px;
  }
  .spezifisch {
    padding-bottom: 60px;
  }
  .detail {
    padding-bottom: 125px;
  }
  .home {
    padding-bottom: 125px;
  }
  .edit {
    padding-bottom: 125px;
  }
  h1 {
    margin-top: 100px;
    margin-left: 10%;
    font-size: 36px;
  }

}
/* Mobile Stylings */
@media (min-width: 320px) and (max-width: 480px) {


  .bandname {
    display: none;
  }
  .spezifisch {
    padding-bottom: 40px;
  }
  .list-stylings {
    margin-bottom: 20px;
    text-align: center;
  }
  .posi ul {
    padding-left: 0px;
    margin-left: 0px;
  }
  .detail {
    padding-bottom: 125px;
  }
  .home {
    padding-bottom: 125px;
  }
  .edit {
    padding-bottom: 125px;
  }
  h1 {
    margin-top: 75px;
    margin-left: 10%;
    font-size: 28px;
  }

}

footer {
  text-align: center;
  width: 100%;
  background-color: darkgrey;
  position:relative;
  bottom:0px;
  left:0;
  height: 125px;
}