{% include 'head.twig' %}
{% include 'header.twig' %}

<div class="container spezifisch">
    <div class="row somepadding">
        <div class="col-sm-12 posi">
            <div>
                <ul>
                    {% for album in data  %}
                    <div class="list-stylings">
                        <li class="col-sm-3"><a href="/?page=detail&albumid={{ album.id }}">{{ album.album_name }}</a></li>
                        <li class="col-sm-3 bandname">{{ album.name_band }}</li>
                        <li class="col-sm-3">{{ album.publishing_year }}</li>
                        <li class="col-sm-3 centeredicons"><a href="/?page=edit&albumid={{ album.id }}"><span class="glyphicon glyphicon-edit"></span></a></li>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% include 'footer.twig' %}
