{% include 'head.twig' %}
{% include 'header.twig' %}


<div class="container spezifisch detail">
    <div class="row">
        <div class="col-sm-8">
                <h2>{{ data.album_name }}</h2>
                <h3>{{ data.name_band }}</h3>
                <p>{{ data.album_content }}</p>
                <p>{{ data.publishing_year }}</p>
        </div>
    </div>
</div>

{% include 'footer.twig' %}
