{% include 'head.twig' %}
{% include 'header.twig' %}


<div class="container spezifisch edit">
    <div class="row">
        <div class="col-sm-5">
            <form action="#" method="post">
                <legend><h2>Eintrag bearbeiten</h2></legend>
                    <div class="form-group">
                        <label>Album Name</label>
                        <input name="album-name" type="text" class="form-control" value="{{ data.album_name }}">
                    </div>
                <div class="form-group">
                    <label>Band Name</label>
                    <input name="band-name" type="text" class="form-control" value="{{ data.name_band }}">
                </div>
                <div class="form-group">
                    <label>Beschreibung</label>
                    <textarea name="album-content" class="form-control" value="{{ data.album_content }}" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Erscheinungsjahr</label>
                    <input name="publishing-year" type="text" class="form-control" value="{{ data.publishing_year }}"/>
                </div>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-default form-button">Speichern</button>
                        <input name="postid" type="hidden" value="{{ data.id }}"/>
                        <input name="action" type="hidden" value="update"/>
                    </td>
                </tr>
            </form>
        </div>
        <div class="col-sm-7">
            <h2>{{ data.album_name }}</h2>
            <h3>{{ data.name_band }}</h3>
            <p>{{ data.album_content }}</p>
            <p>{{ data.publishing_year }}</p>
            <form method="post">
                <td class="contact-delete">
                        <button type="submit" class="btn btn-default form-button">Löschen</button>
                            <input name="postid" type="hidden" value="{{ data.id }}">
                            <input name="action" type="hidden" value="delete">
                </td>
            </form>
        </div>
    </div>
</div>

{% include 'footer.twig' %}
