        <footer>
            <div class="container-fluid">
                <div class="row">
                    <h3>Welcome footer.html</h3>
                    <p>Dies ist der footer Bereich.</p>
                    <p>Kontakt Informationen:
                        <a href="mailto:beispielse-mail@josh.ch">beispielse-mail@josh.ch</a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>