<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Testumgebung PHP">
        <title>PHP Lernen mit Gianluca</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>