<header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/?page=home"><img class="the-logo" src="web/templates/img/basic_start_.svg"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <!--Navigation in einer Zeile Ausgeben (inklusive active der aktuellen Zeiel...)-->
                    <ul class="nav navbar-nav">
                        {% for navi_item in navigation %}
                            <li class="{% if navi_item.page_name == page %}active{% endif %}"><a href="/?page={{ navi_item.page_name }}">{{ navi_item.navigation_title }}</a></li>
                        {% endfor %}
                    </ul>
                    <!-- Search field Start
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    Search field End -->

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    <div class="container-fluid">
        <div class="row">
            <h1>{{ content.page_subtitle }}</h1>
            <div class="header-img">
                <img src="web/templates/img/background_header_01.jpg">
            </div>
        </div>
    </div>
    <!-- <pre>{{ dump(navigation) }}</pre> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="padding-after-header">
                    <h2>{{ content.page_title }}</h2>
                    <p>{{ content.page_content }}</p>
                    <!-- <pre>{{ dump(navigation) }}</pre> -->
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <hr>

</header>