{% include 'head.twig' %}
{% include 'header.twig' %}

<div class="container spezifisch home">
    <div class="row">
        <div class="col-sm-12">
            // SEITEN SPEZIEFISCHER INHALT //
        </div>
    </div>
</div>

{% include 'footer.twig' %}
