<html>
    <head>
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
        <h1>hello {{ users.vorname}} {{ users.name }}!!!!</h1>
    </body>

    <footer>Hello Footer</footer>
</html>