{% include 'head.twig' %}
{% include 'header.twig' %}
<div id="page-neu">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <form method="post">
                    <legend><h2>Neues Album hinzufügen</h2></legend>
                    <div class="form-group">
                        <label>Album Name</label>
                        <input name="album-name" type="text" class="form-control" placeholder="Album Name" required/>
                    </div>
                    <div class="form-group">
                        <label>Band Name</label>
                        <input name="band-name" type="text" class="form-control" placeholder="Band Name" required>
                    </div>
                    <div class="form-group">
                        <label>Beschreibung</label>
                        <textarea name="album-content" class="form-control" placeholder="Beschreibung" rows="3"></textarea>
                    </div>
                    <!-- <tr>
                           <td class="form-space">Album Content</td>
                           <td class="album_content_style">
                               <input name="album-content" type="content" value="{{ data.album_content }}" class="content-input-field"/>
                           </td>
                           </tr>
                    -->
                    <div class="form-group">
                        <label>Band Name</label>
                        <input name="publishing-year" type="text" class="form-control" placeholder="Erscheinungsjahr" required>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default form-button">Hinzufügen</button>
                        <input name="action" type="hidden" value="insert"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'footer.twig' %}
