{% include 'head.twig' %}
{% include 'header.twig' %}


<div class="container spezifisch">
    <div class="row">
        <div class="col-sm-4 posi">
            <form method="post">
                <div class="input-group">
                    <input name="action" type="hidden" value="search">
                    <input name="search" type="text" value="{{ searchfrase }}" class="form-control" placeholder="Suchen"/>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row somepadding">
        <div class="col-sm-12 posi">
            <div>
                <ul>
                    {% for album in data  %}
                        <div class="list-stylings">
                            <li class="col-sm-4 albumname"><a href="/?page=detail&albumid={{ album.id }}">{{ album.album_name }}</a></li>
                            <li class="col-sm-4 bandname">{{ album.name_band }}</li>
                            <li class="col-sm-4 publish">Erscheinungsjahr -> <strong>{{ album.publishing_year }}</strong></li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% include 'footer.twig' %}
